apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
type: Opaque
stringData:
  tunnel-id: YOUR_TUNNEL_ID
  hostname: your-domain.example.com
  credentials.json: |
    {
      "AccountTag": "xxxx",
      "TunnelSecret": "xxxx",
      "TunnelID": "xxxx"
    }